*.iml
.gradle
# IntelliJ
*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/misc.xml
/.idea
# Android Studio 3 in .gitignore file.
.idea/caches/build_file_checksums.ser
.idea/modules.xml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
.code-scanner/build/intermediates/incremental/mergeDebugShaders/merger.xml
.code-scanner/build
.code-scanner/build/intermediates
/build
/.idea/codeStyles
/.idea/encodings.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/captures
app/release/app-release.apk
app/release/app.aab
app/release/
app/st/
app/produccion
app/objectbox-models
fastlane/report.xml
.fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
fastlane/
app/release./
app/produccion/**
.objectbox-models/.json
objectbox-models/
**/build
**/.idea
**/.gradle
*.apk
*.hprof
Gemfile
Gemfile.log
firebase-debug.log
replay_pid14888.log
hs_err_pid14888.log
.project
.project/
.settings/
rest-client/